
<% include ../partials/header %>
<!-- För att lägga till en ny roll-typ:
     Kopiera bara superadmin-delen och byt namn på rollen. -->

<div class="container">
    <div class="row my-3">
        <div class="col">
            <span id="resultSpan" class="alert"></span>
        </div>
    </div>
    <% if (superAdmin == "yes") { %>
        <div class="row">
            <div class="col">
                <h1>Hämta Resultat från Eventor</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3 col-lg-2 mb-3">
                <button class="btn btn-danger" id="refresh2018">Hämta för 2018</button>
            </div>
            <div class="col-sm-3 col-lg-2 mb-3">
                <button class="btn btn-danger" id="refresh2019">Hämta för 2019</button>
            </div>
        </div>
        <div class="row my-3">
            <div class="col">
                <ul id="messages" class="list-unstyled"></ul>
            </div>
        </div>
    <% } %>
    <div class="row">
        <div class="col d-sm-none">
            <h1>Annat</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6  d-none d-sm-block">
            <h1>Tävlingskalender</h1>
        </div>
        <div class="col-sm-6  d-none d-sm-block">
            <h1>Kalendern</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6 mb-3">
                <a class="btn btn-primary" href="/admin/calendar/comps/2019">Redigera Tävlingsprogram 2019</a>
        </div>
        <div class="col-sm-6 mb-3">
                <a class="btn btn-primary" href="/admin/calendar">Redigera kalendern</a>
        </div>
    </div>
    <hr>
    <% if (superAdmin == "yes") { %>
        <div class="row">
            <div class="col">
                <h1>Användargrupper</h1>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <h2>Super-administratörer</h2>
            </div>
        </div>
        <!-- SUPERADMIN START -->
        <div class="row">
            <div class="col">
                <table id="superadmin" class="table table-hover">
                    <thead class="thead-light">
                        <tr><th>Namn</th><th>Eventor Id</th><th></th></tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col">
                <form action="/admin/user" method="POST">
                    <div class="form-row align-items-center">
                        <div class="col-auto">
                                <label for="eventorIdSuperAdmin">Ange användarens Eventor id:</label>
                        </div>
                        <div class="col-auto">
                            <input type="text" class="form-control" id="eventorIdSuperAdmin" name="eventorId" placeholder="Eventor id">
                        </div>
                        <div class="col-auto">
                            <input type="hidden" name="role" value="superadmin">
                            <input class="btn btn-primary" value="Lägg till användare" type="submit">
                            <span id="errorMessage" style="color:red;" class="ml-2"></span>    
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <!-- SUPERADMIN END -->
        <!-- UNGDOM START -->
        <div class="row">
            <div class="col">
                <h2>Ungdomssektionen</h2>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <table id="ungdomadmin" class="table table-hover">
                    <thead class="thead-light">
                        <tr><th>Namn</th><th>Eventor Id</th><th></th></tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col">
                <form action="/admin/user" method="POST">
                    <div class="form-row align-items-center">
                        <div class="col-auto">
                                <label for="eventorIdUngdomAdmin">Ange användarens Eventor id:</label>
                        </div>
                        <div class="col-auto">
                            <input type="text" class="form-control" id="eventorIdUngdomAdmin" name="eventorId" placeholder="Eventor id">
                        </div>
                        <div class="col-auto">
                            <input type="hidden" name="role" value="ungdomadmin">
                            <input class="btn btn-primary" value="Lägg till användare" type="submit">
                            <span id="errorMessage" style="color:red;" class="ml-2"></span>    
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <!-- UNGDOM END -->
    <hr>
    <% } %>
    <% if (superAdmin == "yes") { %>
        <div class="row">
            <div class="col">
                <h2>Medlemmar</h2>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <table id="medlemmar" class="table table-hover">
                    <thead class="thead-light">
                        <tr><th>Namn</th><th>Eventor Id</th><th>Antal tävlingar i år</th></tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
    <% } %>
<script src="/static/js/socket.io.js"></script>
<script>
    $(function () {
        var socket = io();
        socket.on('refresh status', function(msg){
            if (msg.indexOf("ERROR") != -1) {
                $('#messages').prepend($('<li class="text-danger">').text(msg));
            } else {
                $('#messages').prepend($('<li>').text(msg));
            }
        });
    });
</script>
<script type="text/javascript">            
    $('#resultSpan').text("");
    $('#resultSpan').removeClass("alert-danger");
    $('#resultSpan').removeClass("alert-success");
    $('#refresh2018').click(function(){  
        $.ajax({
            url: "/admin/runners/refresh/2018",
            data: {}, 
            success: function(data){
                $('#resultSpan').text("Det gick ju fint");
            },
            error: function(jqXHR, textStatus, err){
                $('#resultSpan').text("Abbans :-( " + textStatus  + ": " + err);
            }
        });
    });
    $('#refresh2019').click(function(){  
        $('#resultSpan').text("");
        $('#resultSpan').removeClass("alert-danger");
        $('#resultSpan').removeClass("alert-success");
        $.ajax({
            url: "/admin/runners/refresh/2019",
            data: {}, 
            success: function(data){
                $('#resultSpan').addClass("alert-success");
                $('#resultSpan').text("Det gick ju fint");
            },
            error: function(jqXHR, textStatus, err){
                $('#resultSpan').addClass("alert-danger");
                $('#resultSpan').text("Abbans :-( " + textStatus  + ": " + err);
            }
        });
    });
</script>
<script>
    // Hämta medlemmar
    var access = '<%= superAdmin %>';
    if (access == 'yes') {
        $('#resultSpan').text("");
        $('#resultSpan').removeClass("alert-danger");
        $('#resultSpan').removeClass("alert-success");
        $.ajax({
            url: "/admin/runner",
            data: {}, 
            success: function(data){
                if (data.error != ""){
                    $('#resultSpan').addClass("alert-danger");
                    $('#resultSpan').text(data.error);    
                } else {
                    $('#resultSpan').addClass("alert-success");
                    $('#resultSpan').text("Hämtade " + data.runners.length + " medlemmar.");
                    data.runners.forEach(function(runner) {
                        var id = "#medlemmar";
                        var count = runner.competitions.length > 0 ? runner.competitions.length : "";
                        $(id).append($('<tr>').html("<td>" + runner.nameGiven +  " " + runner.nameFamily + "</td><td>" + runner.eventorId + "</td><td>" + count + "</td>"));
                        // console.log(runner.nameGiven +  " " + runer.nameFamily + " (" + runner.eventorId + ")");
                    });
                }
            },
            error: function(jqXHR, textStatus, err){
                $('#resultSpan').addClass("alert-danger");
                $('#resultSpan').text("Abbans :-( " + textStatus  + ": " + err);
            }
        });
    }
</script>
<script>
    // Hämta roller
    var access = '<%= superAdmin %>';
    if (access == 'yes') {
        $.ajax({
            url: "/admin/user",
            data: {}, 
            success: function(data){
                console.log(data.error);
                if (data.error != ""){
                    $('#resultSpan').addClass("alert-danger");
                    $('#resultSpan').text("Abbans :-( " + data.error);
                } else {
                    data.users.forEach(function(user) {
                        user.roles.forEach(function(role) {
                            $('#' + role).append($('<tr>').html("<td>" + user.nameGiven +  " " + user.nameFamily + "</td>" + 
                                                                "<td>" + user.eventorId + "</td>" + 
                                                                "<td>" + "<form action=\"/admin/user/" + user.eventorId + "?_method=DELETE\" method=\"POST\">" +
                                                                "<input type=\"hidden\" name=\"role\" value=\"" + role + "\">" +
                                                                "<input type=\"submit\" class=\"btn btn-sm btn-danger\" value=\"Ta bort\">" +
                                                                "</form>" +
                                                                "</td>"));
                        });
                    });
                }
            },
            error: function(jqXHR, textStatus, err){
            }
        });
    }
</script>
<% include ../partials/footer %>