<% include ../partials/header %>
    <div class="container">
        <h1>Att Göra</h1>
        <h2>Resultat</h2>
        <ul>
            <li>Fixa en tabell för tävlingar som inte ska räknas med.</li>
            <li>Hämta hem tid samt tid efter.</li>
            <li>Uppdatera resultatsidan med tid och tid efter.</li>
            <li>Gör en statistiksida per år och kanske per löpare.</li>
            <li>Snyggare sida för resultat - Orionpokalen & Spring till 1000</li>
            <li>Mobilvänlig sida för resultat per löpare</li>
        </ul>
        <h2>Kalender</h2>
        <ul>
            <li style="text-decoration: line-through;">Gör en adminsida för Eventor-tävlingar</li>
            <li>Edit and delete direkt från en aktivitet.</li>
            <li style="text-decoration: line-through;">Rullande 7-dagarskalender.</li>
            <li style="text-decoration: line-through;">Pointer för aktiviter i veckovyn.</li>
        </ul>
        <h2>Nyheter</h2>
        <ul>
            <li>Fix it.</li>
        </ul>
        <h2>Dynamiska sidor - CMS</h2>
        <ul>
            <li>Fix it</li>
        </ul>
        <h2>Nattcupen</h2>
        <ul>
            <li>Fix it</li>
        </ul>
        <h2>Träningsdagbok</h2>
        <ul>
            <li>Fix it</li>
        </ul>
        <h2>Tävlingar</h2>
        <ul>
            <li>Gör nåt med starttider och anmälningar.</li>
        </ul>
        <h2>Servern</h2>
        <ul>
            <li>Skapa användare</li>
            <li>Fixa ftp.</li>
            <li>Fixa git</li>
            <li>Aktivera https</li>
            <li>Fixa en mailserver</li>
            <li>Övervaka processer</li>
            <li>Fixa till Apache och port 80</li>
        </ul>
        <h2>Annat</h2>
        <ul>
            <li>Fixa till menyn.</li>
            <li>Aktivera Eventor-login.</li>
            <li>Maillistor?</li>
            <li>Style</li>
        </ul>
    </div>
<% include ../partials/footer %>
