</body>
<link rel="stylesheet" type="text/css" href="/static/css/jquery.datetimepicker.css">
<!-- <script src="/static/js/jquery.js"></script> -->
<script src="/static/js/jquery.datetimepicker.full.min.js"></script>
</html>