<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Oswald:400,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,500" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.9.0/fullcalendar.min.css">
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.9.0/fullcalendar.print.css"> -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/css/header.css">

    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.9.0/fullcalendar.min.js"></script>
    <!-- <script src='fullcalendar_sv.js'></script> -->

    
    <link rel="stylesheet" type="text/css" href="/static/css/app.css">
    <title>OK Orion - Stjärnorna Som Lyser Starkast</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg sticky-top header mb-3">
        <a class="navbar-brand" href="/home">
            <img src="http://www.okorion.com/images/orionlog.gif" width="30" height="30" class="d-inline-block align-top" alt="">
            OK Orion
        </a>
        <button class="navbar-toggler navbar-dark" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li>
                    <a class="nav-link" href="/calendar">Kalender</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Spring till 1000
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="/orion1000/2019">Orion till 1000 - 2019</a>
                        <a class="dropdown-item" href="/orion1000/2018">Orion till 1000 - 2018</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Orionpokalen
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="/orionpokalen/2019">Orionpokalen - 2019</a>
                        <a class="dropdown-item" href="/orionpokalen/2018">Orionpokalen - 2018</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Resultat
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="/resultat/runners/A/2019">Resultat - 2019</a>
                        <a class="dropdown-item" href="/resultat/runners/A/2018">Resultat - 2018</a>
                    </div>
                </li>
                <li>
                    <a class="nav-link" href="/ungdom">Ungdom</a>
                </li>
                <li>
                    <a class="nav-link" href="/news/new">Nyheter</a>
                </li>
            </ul>
            <ul class="navbar-nav ml-auto">
            <% if (currentUser) { %>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Admin
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <!-- <a class="dropdown-item" href="/test/chat">Chat</a> -->
                        <a class="dropdown-item" href="/admin">Adminsidan</a>
                        <a class="dropdown-item" href="/admin/ungdom">Ungdomssektionen</a>
                        <a class="dropdown-item" href="/admin/todo">Kvar att göra</a>
                    </div>
                </li>
            <% } %>
            <% if (currentUser) { %>
                <li class="nav-item my-2 my-lg-0">
                    <a href=#  class="nav-link"><%= currentUser.nameGiven %> <%= currentUser.nameFamily %></a>
                </li>
                <li class="nav-item my-2 my-lg-0">
                    <a href="/logout" class="nav-link">Logga ut</a>
                </li>
            <% } else { %>
                <li class="nav-item my-2 my-lg-0">
                    <a href="/login" class="nav-link">Logga in</a>
                </li>
            <% } %>
            </ul>
        </div>
    </nav>
    <div class="container">
        <% if (error && error.length > 0) { %>
            <div class="mt-3 alert alert-danger"><%= error %></div>            
        <% } %>
        <% if (success && success.length > 0) { %>
            <div class="mt-3 alert alert-success"><%= success %></div>            
        <% } %>
    </div>