<% include ../partials/header %>

<script src='/static/js/fullcalendar_sv.js'></script>
<link rel="stylesheet" href="/static/css/calendar.css">
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.4.0/dist/leaflet.css" integrity="sha512-puBpdR0798OZvTTbP4A8Ix/l+A4dHDD0DGqYW6RQ+9jxkRFclaxxQb/SJAWZfWAkuyeQUytO7+7N4QKrDh+drA==" crossorigin="">
<script src="https://unpkg.com/leaflet@1.4.0/dist/leaflet.js" integrity="sha512-QVftwZFqvtRNi0ZyCtsznlKSWOStnDORoefr1enyq5mVL4tmKB3S/EnC3rRJcxCPavG10IcrVGSmPh6Qw5lwrg==" crossorigin=""></script>

<script>
    $(function() {
        $('#calendar').fullCalendar({
            locale: 'sv',
            firstDay: 1,
            height: "auto",
            defaultView: 'month',
            timezone: 'local',
            weekNumbers: true,
            header: {
                left: 'month,basicWeek,listMonth',
                center: 'title',
                right: 'today,prev,next'
            },
            events: <%- JSON.stringify(event_list) %>,
            eventClick: function(calEvent, jsEvent, view) {
                $.ajax({
                    url: "/calendar/fetch",
                    data: { eventId: calEvent._id }, 
                    success: function(data){
                        if (data.event != undefined) {
                            $('.hide').removeClass('hide');
                            $('#title').text(data.event.title);
                            $('#date').text(data.event.start);
                            if (data.event.description == undefined || data.event.description == "") {
                                $('#descriptionRow').hide();
                            } else {
                                $('#descriptionRow').show();
                                $('#description').text(data.event.description);
                            }
                            if (data.event.ansvarig == undefined || data.event.ansvarig == "") {
                                $('#ansvarigRow').hide();
                            } else {
                                $('#ansvarigRow').show();
                                $('#ansvarig').text(data.event.ansvarig);
                                if (data.event.eventorId == undefined || data.event.eventorId == "") {
                                    $('#ansvarigTitle').text("Ansvarig:");
                                } else {
                                    $('#ansvarigTitle').text("Arrangör:");
                                }
                            }
                            if (data.event.raceType == undefined || data.event.raceType == "") {
                                $('#raceTypeRow').hide();
                            } else {
                                $('#raceTypeRow').show();
                                $('#raceType').text(data.event.raceType);
                            }
                            if (data.event.raceDistance == undefined || data.event.raceDistance == "") {
                                $('#raceDistanceRow').hide();
                            } else {
                                $('#raceDistanceRow').show();
                                $('#raceDistance').text(data.event.raceDistance);
                            }
                            if (data.event.link == undefined || data.event.link == "") {
                                $('#linkRow').hide();
                            } else {
                                $('#linkRow').show();
                                $('#link').text(data.event.link);
                                $('#link').attr("href", data.event.link);
                            }
                            if (data.event.lat == undefined || data.event.lat == "" || data.event.lng == undefined || data.event.lat == "") {
                                $('#mapid').hide();
                            } else {
                                $('#mapid').show();
                                renderMap(data.event);
                            }
                        }
                    },
                    error: function(jqXHR, textStatus, err){
                        console.log('text status '+textStatus+', err '+err);
                    }
                });
            },
            eventRender: function(event, eventElement) {
                if (event.className == "eventTraining") {
                    eventElement.find("div.fc-content").prepend(" <img src='/static/imgs/activity_type_1.gif' width='16' height='16'> ");
                }
                else if (event.className == "eventCompetition") {
                    eventElement.find("div.fc-content").prepend(" <img src='/static/imgs/activity_type_2.gif' width='16' height='16'> ");
                }
                else if (event.className == "eventMeeting") {
                    eventElement.find("div.fc-content").prepend(" <img src='/static/imgs/activity_type_3.gif' width='16' height='16'> ");
                }
                else if (event.className == "eventImportant") {
                    eventElement.find("div.fc-content").prepend(" <img src='/static/imgs/activity_type_4.gif' width='16' height='16'> ");
                }
            }
        });
    });
</script>
<div class="container hide">
        <div class="row">
            <div class="col">
                <h1 id="title"></h1>
            </div>
        </div>
        <div class="row">
            <div class="col-2">
                <strong>Tid och datum:</strong>
            </div>
            <div class="col-10">
                <span id="date"></span>
            </div>
        </div>
        <div class="row" id="descriptionRow">
            <div class="col my-3">
                <span id="description"></span>
            </div>
        </div>
        <div class="row" id="ansvarigRow">
            <div class="col-2">
                <strong><span id="ansvarigTitle"></span></strong>
            </div>
            <div class="col-10">
                <span id="ansvarig"></span>
            </div>
        </div>
        <div class="row" id="raceTypeRow">
            <div class="col-2">
                <strong>Typ:</strong>
            </div>
            <div class="col-10">
                <span id="raceType"></span>
            </div>
        </div>
        <div class="row" id="raceDistanceRow">
            <div class="col-2">
                <strong>Distans:</strong>
            </div>
            <div class="col-10">
                <span id="raceDistance"></span>
            </div>
        </div>
        <div class="row" id="linkRow">
            <div class="col-2">
                <strong>Mer info:</strong>
            </div>
            <div class="col-10">
                <a id="link" href=""></a>
            </div>
        </div>
        <div id="mapid"></div>
</div>
<div class="container">
    <hr>
    <div class="row">
        <div class="col mb-5">
            <h1>Kalender</h1>
            <div id="calendar"></div>
        </div>
    </div>
</div>

<script>
    var mymap;
    var marker;
</script>
<script>
    function renderMap(event) {
        var lat = event.lat;
        var lng = event.lng;
        if (mymap == undefined) {
            mymap = L.map('mapid').setView([lat, lng], 11);
            L.tileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token=pk.eyJ1IjoibWFwYm94IiwiYSI6ImNpejY4NXVycTA2emYycXBndHRqcmZ3N3gifQ.rJcFIG214AriISLbB6B5aw', {
                maxZoom: 18,
                attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors, ' +
                    '<a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, ' +
                    'Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
                id: 'mapbox.streets'
            }).addTo(mymap);
        } else {
            mymap.setView([lat, lng], 11);
        }

        if (lat != undefined && lng != undefined) {
            if (marker != undefined) { // check
                mymap.removeLayer(marker); // remove
            }
            marker = new L.Marker([lat, lng]);
            marker.addTo(mymap);
        }
    }
</script>
<% include ../partials/footer %>