<% include ./partials/header %>
<div class="container">
    <h1>Logga In</h1>
    <form action="/login" method="POST">
        <div class="form-group">
            <label for="eventorId">Eventor id/namn</label>
            <input type="text" class="form-control" id="eventorId" aria-describedby="eventorIdHelp" name="username" placeholder="Eventor id/namn">
            <small id="eventorIdHelp" class="form-text text-muted">Ange samma användarnamn som när du loggar in på Eventor.</small>
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control" id="password" aria-describedby="passwordHelp" name="password" placeholder="Lösenord">
            <small id="passwordHelp" class="form-text text-muted">Ange samma lösenord som när du loggar in på Eventor.</small>
        </div>
        <button type="submit" class="btn btn-primary">Logga in</button>
    </form>
</div>
<% include ./partials/footer %>