.header {
    background-color: rgb(88, 130, 228);
}
.header>a {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    color: white;
}
.header .nav-link {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    color: white;
}
h1, h2, h3, h4 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}
