/* Orionfärgen:     rgb(88, 130, 228) */

body {
    background-color: #000;
}

#landing-header {
    z-index: 1;
    position: relative;
    text-align: center;
    padding-top: 40vh;
}
#landing-header h1 {
    color: #fff;
}
#landing-header h2 {
    color: #fff;
}
#landing-header a {
    background-color: rgb(88, 130, 228);
    color: #fff;
    border: none;
}
.slideshow { 
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 0;
    list-style: none;
    margin: 0;
    padding: 0;
}
.slideshow li { 
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    opacity: 0;
    z-index: 0;
    animation: imageAnimation 20s linear infinite; 
}
.slideshow li:nth-child(1) { 
    background-image: url(https://scontent.fmmx1-1.fna.fbcdn.net/v/t1.0-9/36442156_1818509338232414_4841644808042708992_o.jpg?_nc_cat=102&_nc_ht=scontent.fmmx1-1.fna&oh=7bca57cec363f381ac73deee72f1f0ed&oe=5D455D96) 
  }
  .slideshow li:nth-child(2) { 
    background-image: url(https://scontent.fmmx1-1.fna.fbcdn.net/v/t1.0-9/48248988_2072006042882741_127062922370220032_o.jpg?_nc_cat=103&_nc_ht=scontent.fmmx1-1.fna&oh=853ff61e66fe581a6e3e725bb6325c1c&oe=5D6F6ABA);
    animation-delay: 4s; 
  }
  .slideshow li:nth-child(3) { 
    background-image: url(https://scontent.fmmx1-1.fna.fbcdn.net/v/t31.0-8/21950962_1521535064596511_1583865351217030689_o.jpg?_nc_cat=110&_nc_ht=scontent.fmmx1-1.fna&oh=713b1f9674242ef90a63d766362f037d&oe=5D3E87CD);
    animation-delay: 8s; 
  }
  .slideshow li:nth-child(4) { 
    background-image: url(https://scontent.fmmx1-1.fna.fbcdn.net/v/t1.0-9/36087139_1806536049429743_5412324117753888768_o.jpg?_nc_cat=106&_nc_ht=scontent.fmmx1-1.fna&oh=8432b9af7fc947dc1b9085d9f52ee8e4&oe=5D2B144C);
    animation-delay: 12s; 
  }
  .slideshow li:nth-child(5) { 
    background-image: url(https://scontent.fmmx1-1.fna.fbcdn.net/v/t31.0-8/11792154_891314820951875_626790535090407371_o.jpg?_nc_cat=106&_nc_ht=scontent.fmmx1-1.fna&oh=8b09a1856415fd24c2b79efb5879bae3&oe=5D2D4DC7);
    animation-delay: 16s; 
  }
  @keyframes imageAnimation { 
    0% { 
      opacity: 0; 
      animation-timing-function: ease-in;
    }
    10% {
      opacity: 1;
      animation-timing-function: ease-out;
    }
    20% {
      opacity: 1
    }
    30% {
      opacity: 0
    }
}
/* Older browser support - .no-cssanimations class added by modernizr */
.no-cssanimations .slideshow li {
	opacity: 1;
}