.news-input {
	min-height: 5em;
	/* max-height: 50vh; */
	width: 100%;
}
.news-input:empty:not(:focus):before {
  content: attr(data-placeholder)
}

.input-option {
  border-radius: 15px 15px;
}

.input-group-prepend .input-group-text {
  width: 95px;
}
/* #selectNewsTypeLabel {
  white-space: nowrap;
} */