.wrapper {
    height: 70vh;
  }
  
  .parallax-img {
    height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  /* Other styling elements, that are not necessary for the example */
  
  * {
    font-family: Candara;
  }
  
  p {
    font-size: 1.1rem;
  }
  
  .parallax-img {
    background-image: url('https://scontent.fmmx1-1.fna.fbcdn.net/v/t1.0-9/36442156_1818509338232414_4841644808042708992_o.jpg?_nc_cat=102&_nc_ht=scontent.fmmx1-1.fna&oh=7bca57cec363f381ac73deee72f1f0ed&oe=5D455D96');
  }
